@model MaximoDataResult

@{
    ViewData["Title"] = "Maximo database";
}


<div id="toast-container">
    <div id="data-toast" class="toast align-items-center text-bg-primary border-0" role="alert" aria-live="assertive"
        aria-atomic="true" style="display:none; min-width: 250px;">
        <div class="d-flex">
            <div class="toast-body" id="toast-message"></div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" onclick="hideNotification()"></button>
        </div>
    </div>
</div>

<br>
<h4>Realtidsövervakning av databas</h4>

<div class="mb-3">
    <input type="text" class="form-control" id="tableSearchInput"
        placeholder="Sök efter pmnum, competence, location...">
</div>

<div class="mb-3 table-search">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="toggleCorrect" checked>
        <label class="form-check-label" for="toggleCorrect">Visa korrekta rader</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="toggleErrors" checked>
        <label class="form-check-label" for="toggleErrors">Visa felaktiga rader</label>
    </div>
</div>


<div id="correctSection">
    <h5>Korrekta objekt</h5>
    <table id="correctTable" class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Competences</th>
                <th>Pmnum</th>
                <th>Cxlineroutenr</th>
                <th>Location</th>
                <th>Description</th>
                <th>Åtgärder</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Corrects)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Competences</td>
                    <td>@item.Pmnum</td>
                    <td>@item.Cxlineroutenr</td>
                    <td>@item.Location</td>
                    <td>@item.Description</td>
                    <td>

                        <button class="btn-sm btn-custom" onclick="showConfirmButtons(this);">
                            <i class="bi bi-trash"></i>
                        </button>
                        <a asp-action="Delete" asp-route-id="@item.Id" asp-route-table="corrects">
                            <button class="btn-sm btn-custom d-none confirm-btn confirm-yes">
                                <i class="bi bi-check"></i>
                            </button>
                        </a>
                        <button class="btn-sm btn-custom d-none confirm-btn confirm-no" onclick="cancelDelete(this);">
                            <i class="bi bi-x"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <div class="d-flex align-items-center">
        <label for="rowsPerPageCorrect" class="me-2">Visa:</label>
        <select id="rowsPerPageCorrect" class="form-control" style="width: auto;">
            <option value="5">5 rader</option>
            <option value="10">10 rader</option>
            <option value="25">25 rader</option>
            <option value="50">50 rader</option>
        </select>
        <i id="prevPageCorrect" class="bi bi-arrow-left-circle ms-3 me-2"
            style="font-size: 1.5rem; cursor: pointer; opacity: 0.6;"></i>
        <i id="nextPageCorrect" class="bi bi-arrow-right-circle"
            style="font-size: 1.5rem; cursor: pointer; opacity: 0.6;"></i>
    </div>
</div>

<hr>


<div id="errorSection">
    <h5>Felaktiga objekt</h5>
    <table id="errorTable" class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Competences</th>
                <th>Pmnum</th>
                <th>Cxlineroutenr</th>
                <th>Location</th>
                <th>Description</th>
                <th>Fel</th>
                <th>Åtgärder</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Errors)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Competences</td>
                    <td>@item.Pmnum</td>
                    <td>@item.Cxlineroutenr</td>
                    <td>@item.Location</td>
                    <td>@item.Description</td>
                    <td>@item.AnomalyFields</td>
                    <td>

                        <form id="form-@item.Id" asp-action="Edit" method="post" class="d-inline">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" class="btn-sm btn-custom d-none save-btn">
                                <i class="bi bi-check"></i>
                            </button>
                        </form>
                        <button class="btn-sm btn-custom d-none cancel-btn">
                            <i class="bi bi-x"></i>
                        </button>
                        <button class="btn-sm btn-custom" onclick="showConfirmButtons(this);">
                            <i class="bi bi-trash"></i>
                        </button>
                        <a asp-action="Delete" asp-route-id="@item.Id" asp-route-table="errors">
                            <button class="btn-sm btn-custom d-none confirm-btn confirm-yes">
                                <i class="bi bi-check"></i>
                            </button>
                        </a>
                        <button class="btn-sm btn-custom d-none confirm-btn confirm-no" onclick="cancelDelete(this);">
                            <i class="bi bi-x"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <div class="d-flex align-items-center">
        <label for="rowsPerPageError" class="me-2">Visa:</label>
        <select id="rowsPerPageError" class="form-control" style="width: auto;">
            <option value="5">5 rader</option>
            <option value="10">10 rader</option>
            <option value="25">25 rader</option>
            <option value="50">50 rader</option>
        </select>
        <i id="prevPageError" class="bi bi-arrow-left-circle ms-3 me-2"
            style="font-size: 1.5rem; cursor: pointer; opacity: 0.6;"></i>
        <i id="nextPageError" class="bi bi-arrow-right-circle"
            style="font-size: 1.5rem; cursor: pointer; opacity: 0.6;"></i>
    </div>

</div>
