@model MaximoDataResult
@{
    ViewData["Title"] = "Maximo Database";
}

<br>
<h4>Realtidsövervakning av databas</h4>
<br>

<h5>Korrekta objekt</h5>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Competences</th>
            <th>Pmnum</th>
            <th>Cxlineroutenr</th>
            <th>Location</th>
            <th>Description</th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Corrects)
        {
            <tr class="table-success">
                <td>@item.Id</td>
                <td>@item.Competences</td>
                <td>@item.Pmnum</td>
                <td>@item.Cxlineroutenr</td>
                <td>@item.Location</td>
                <td>@item.Description</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" asp-route-table="corrects" class="btn btn-danger">Ta
                        bort</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h5>Felaktiga objekt</h5>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Competences</th>
            <th>Pmnum</th>
            <th>Cxlineroutenr</th>
            <th>Location</th>
            <th>Description</th>
            <th>Åtgärder</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Errors)
        {
            <tr class="table-danger">
                <td>@item.Id</td>
                <td><input type="text" name="competences" form="form-@item.Id" value="@item.Competences"
                        class="form-control" /></td>
                <td><input type="text" name="pmnum" form="form-@item.Id" value="@item.Pmnum" class="form-control" /></td>
                <td><input type="text" name="cxlineroutenr" form="form-@item.Id" value="@item.Cxlineroutenr"
                        class="form-control" /></td>
                <td><input type="text" name="location" form="form-@item.Id" value="@item.Location" class="form-control" />
                </td>
                <td><input type="text" name="description" form="form-@item.Id" value="@item.Description"
                        class="form-control" /></td>
                <td>
                    <form id="form-@item.Id" asp-action="Edit" method="post">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-warning">Redigera</button>
                    </form>
                    <a asp-action="Delete" asp-route-id="@item.Id" asp-route-table="errors" class="btn btn-danger">Ta
                        bort</a>
                </td>
            </tr>
        }
    </tbody>
</table>
